

<div id="container">

  <div>
    <table mat-table [dataSource]="dataSource">


      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Cím </th>
        <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
      </ng-container>


      <ng-container matColumnDef="Room">
        <th mat-header-cell *matHeaderCellDef> Terem </th>
        <td mat-cell *matCellDef="let element"> {{element.Room}} </td>
      </ng-container>


      <ng-container matColumnDef="Seat">
        <th mat-header-cell *matHeaderCellDef> Szék </th>
        <td mat-cell *matCellDef="let element"> {{element.SeatRow}}. sor {{element.SeatColumn}}. szék</td>
      </ng-container>

      <ng-container matColumnDef="StartTime">
        <th mat-header-cell *matHeaderCellDef> Időpont </th>
        <td mat-cell *matCellDef="let element"> {{element.StartTime}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef> Lehetőségek </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button color="accent">
            <mat-icon>close</mat-icon>
          </button>
        </mat-cell>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</div>
